.slider__title-container {
    margin-top: 35px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-main-container {
    position: relative;
    height: 310px;
    /*border: 1px solid orange;*/
}

.slider__cards-container {
    /*border: 1px solid aquamarine;*/

    width: 390px;
    position: absolute;
    margin-top: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.slider__card-user-info {
    display: flex;
    gap: 15px;
}

.slider__card {
    width: 180px;
    height: 180px;
    border-radius: 24px;
    background-color: var(--clr-light);
    padding-top: 15px;
    padding-left: 15px;
}

.slider__title {
    font-size: var(--size-24);
    line-height: 30px;
    font-weight: 700;

}

.slider__card-image {
    width: 44px;
    height: 44px;
    border-radius: 610px;
    box-shadow: 1px 2px 9px 0 var(--clr-dark-turquoise);
    object-fit: cover;
}

.slider__card-name {
    font-size: var(--size-14);
    font-weight: 600;
    line-height: 17.6px;
    letter-spacing: -0.28px;
    color: black;
    display: block;
}

.slider__card-rating {
    width: 61px;
    height: 11px;
    display: flex;
    justify-content: flex-start;
}

.slider__card-star {
    height: 10px;
    width: 10px;
}

.slider__card-review {
    width: 150px;
    height: 90px;
    font-size: var(--size-12);
    font-weight: 400;
    line-height: 15.08px;
    text-align: left;
    margin-top: 10px;
    color: black;
    letter-spacing: -0.24px;
}

.slick-dots li.slick-active div {
    width: 15px !important;
    height: 15px !important;
}

.slider__decor-1, .slider__decor-2 {
    display: none;
}

@media (min-width: 390px) {}

/* xs */

@media (min-width: 475px) {
}

/* sm */

@media (min-width: 640px) {
    .slider__cards-container {
        width: 569px;
    }
}

/* md */

@media (min-width: 768px) {
    .slider-main-container {
        position: relative;
        height: 423px;
    }

    .slider__title-container {
        margin-top: 35px;
    }

    .slider__cards-container {
        width: 643px;
    }

    .slider__card-user-info {
        display: flex;
        gap: 20px;
    }

    .slider__card {
        width: 314px;
        height: 278px;
        border-radius: 40px;

        padding-top: 30px;
        padding-left: 20px;
    }

    .slider__card-image {
        width: 62px;
        height: 62px;
    }

    .slider__card-name {
        font-size: var(--size-22);
        line-height: 27px;
        letter-spacing: -0.44px;
    }

    .slider__card-rating {
        width: 84px;
        height: 15px;
    }

    .slider__card-star {
        height: 15px;
        width: 15px;
    }

    .slider__card-review {
        width: 291px;
        height: 150px;
        font-size: var(--size-20);
        line-height: 25px;
        letter-spacing: -0.4px;

        margin-top: 10px;
        color: black;
    }

    .slick-dots li.slick-active div {
        width: 19px !important;
        height: 19px !important;
    }

    .slider__decor-1, .slider__decor-2 {
        display: inline-block;
        position: absolute;
        font-weight: 700;
        letter-spacing: -4px;
        font-size: 88px;
        width: 52px;
        color: var(--clr-dark-turquoise);
        z-index: 40;
    }

    .slider__decor-1 {
        transform: rotate(166deg);
        top: -5px;
        left: -20px;
    }

    .slider__decor-2 {
        transform: rotate(9deg);
        bottom: -5px;
        right: -20px;
    }
}

/* lg */

@media (min-width: 1024px) {}

/* xl */

@media (min-width: 1280px) {

    .slider-main-container {
        height: 672px;
    }

    .slider__title-container {
        margin-top: 35px;
    }

    .slider__title {
        font-size: var(--size-54);
        line-height: 67px;
    }

    .slider__cards-container {
        margin-top: 40px;
        width: 1180px;
    }

    .slider__card-user-info {
        margin-left: 10px;
        display: flex;
        gap: 25px;
    }

    .slider__card {
        width: 380px;
        height: 380px;

        padding-top: 30px;
        padding-left: 30px;
    }

    .slider__card-image {
        width: 74px;
        height: 74px;
    }

    .slider__card-name {
        font-size: var(--size-32);
        line-height: 40px;
        letter-spacing: -0.64px;
    }

    .slider__card-rating {
        width: 97px;
        height: 17px;
    }

    .slider__card-star {
        height: 17px;
        width: 17px;
    }

    .slider__card-review {
        width: 318px;
        height: 180px;
        font-size: var(--size-24);
        line-height: 30px;
        letter-spacing: -0.48px;

        margin-top: 25px;
        color: black;
    }

    .slick-dots li.slick-active div {
        width: 27px !important;
        height: 27px !important;
    }

    .slider__decor-1, .slider__decor-2 {
        letter-spacing: -8px;
        font-size: 128px;
    }

    .slider__decor-1 {
        transform: rotate(166deg);
        top: -15px;
        left: -10px;
    }

    .slider__decor-2 {
        transform: rotate(9deg);
        bottom: -15px;
        right: -10px;
    }
}

/* 2xl */

@media (min-width: 1536px) {}
