.hero {
    height: 476px;
    display: flex;
    flex-direction: column;
    position: relative;

    /*border: 1px solid pink;*/
}

.hero__text__1, .hero__text__3 {
    display: none;
}

.hero__text__2 {
    font-size: var(--size-24);
    font-weight: 700;
    line-height: 30.17px;
    letter-spacing: -0.48px;
    position: absolute;
    top: 301.95px;
    margin-left: 20px;
}

.hero__image-container {
    display: flex;
    position: relative;
    width: 380.94px;
    height: 281.95px;
    margin-top: 20px;
    margin-left: 3px;
}

.hero__player-image {
    width: 298.88px;
    height: 212.99px;
    /*margin-left: 301.88px;*/
    rotateY: -180deg;
    z-index: 10;
}

.hero__phone-image {
    width: 248.22px;
    height: 253.42px;
    position: absolute;
    z-index: 8;
    top: 8.87px;
    left: 135.72px;
    /*margin-top: 28.87px;*/
    /*margin-left: 135.72px;*/
}

.hero__googleplay-logo {
    width: 122px;
    height: 39px;
    position: absolute;
    top: 410.94px;
    left: 142px;
    cursor: pointer;
}

.hero__appstore-logo {
    width: 112px;
    height: 39px;
    position: absolute;
    top: 410.94px;
    left: 20px;
    cursor: pointer;
}
/* xs */

@media (min-width: 390px) {}

/* sm */

@media (min-width: 640px) {

    .hero {
        height: 350px;
        flex-direction: row;
    }

    .hero__text-container {
        width: 270px;
        height: 173px;
        margin-top: 24px;
        margin-left: 40px;
        position: relative;
        display: flex;
        flex-direction: column;
        z-index: 15;
    }

    .hero__text__1 {
        margin-top: 6px;
        display: block;
        font-size: var(--size-14);
        line-height: 17.6px;
    }


    .hero__text__2 {
        position: relative;
        top: 5px;
        margin-left: 0;
        display: block;
    }

    .hero__text__3 {
        display: block;
        font-size: var(--size-15);
        line-height: 18.86px;
        width: 400px;
        margin-top: 20px;
    }

    .hero__image-container {
        width: 430px;
        height: 323.96px;
        margin-top: 24px;
    }

    .hero__player-image {
        width: 250.23px;
    }

    .hero__phone-image {
        width: 193.58px;
        position: relative;
        z-index: 8;
        top: 5px;
        left: -140px;
    }

    .hero__appstore-logo {
        width: 77px;
        height: 26px;
        position: absolute;
        top: 213px;
        left: 40px;
    }

    .hero__googleplay-logo {
        width: 83px;
        height: 26px;
        position: absolute;
        top: 213px;
        left: 131px;
    }


}

/* md */

@media (min-width: 768px) {
    .hero__text-container {
        width: 270px;
        height: 173px;
        margin-top: 24px;
        margin-left: 40px;
        position: relative;
        display: flex;
        flex-direction: column;
        z-index: 15;
    }

    .hero__player-image {
        width: 334.23px;
        height: 244.72px;
        /*margin-left: 301.88px;*/
    }

    .hero__phone-image {
        width: 277.58px;
        height: 291.18px;
        position: relative;
        z-index: 8;
        top: 10.2px;
        left: -188px;
        /*margin-top: 28.87px;*/
        /*margin-left: 135.72px;*/
    }
}

/* lg */

@media (min-width: 1024px) {
    .hero {
        height: 400px;
        top: 32px;
    }

    .hero__text-container {
        width: 450px;
        height: 334px;
        /*margin-top: 84px;*/
        margin-left: 80px;
    }

    .hero__text__1 {
        /*margin-top: 6px;*/
        font-size: var(--size-22);
        line-height: 31px;
    }


    .hero__text__2 {
        top: 10px;
        margin-left: 0;
        font-size: var(--size-36);
        line-height: 39px;
    }

    .hero__text__3 {
        font-size: var(--size-20);
        line-height: 22px;
        width: 600px;
        margin-top: 20px;
    }

    .hero__image-container {
        margin-top: 24px;
    }

    .hero__appstore-logo {
        width: 117px;
        height: 57px;
        top: 278px;
        left: 80px;
    }

    .hero__googleplay-logo {
        width: 124px;
        height: 57px;
        top: 278px;
        left: 227px;
    }
}

/* xl */

@media (min-width: 1280px) {
    .hero {
        top: 142px;
        height: 656px;
    }

    .hero__text-container {
        width: 550px;
        height: 334px;
        /*margin-top: 84px;*/
        margin-left: 80px;
    }

    .hero__text__1 {
        /*margin-top: 6px;*/
        font-size: var(--size-32);
        line-height: 40.22px;
    }


    .hero__text__2 {
        top: 10px;
        margin-left: 0;
        font-size: var(--size-48);
        line-height: 67.88px;
    }

    .hero__text__3 {
        font-size: var(--size-22);
        line-height: 30.17px;
        width: 600px;
        margin-top: 20px;
    }

    .hero__image-container {
        width: 699.64px;
        height: 531.87px;
        margin-top: 25px;
        /*margin-left: 3px;*/
    }

    .hero__player-image {
        width: 488.73px;
        height: 341.78px;
        /*margin-left: 301.88px;*/
    }

    .hero__phone-image {
        width: 395.73px;
        height: 418.05px;
        position: relative;
        z-index: 8;
        top: 10.2px;
        left: -270px;
        /*margin-top: 28.87px;*/
        /*margin-left: 135.72px;*/
    }

    .hero__appstore-logo {
        width: 165px;
        height: 57px;
        top: 388px;
        left: 80px;
    }

    .hero__googleplay-logo {
        width: 178px;
        height: 57px;
        top: 388px;
        left: 277px;
    }
}

/* 2xl */

@media (min-width: 1440px) {
    .hero {
        top: 142px;
    }

    .hero__text-container {
        width: 655px;
        height: 334px;
        margin-left: 80px;
    }

    .hero__text__1 {
        /*margin-top: 6px;*/
        font-size: var(--size-32);
        line-height: 40.22px;
    }


    .hero__text__2 {
        top: 10px;
        margin-left: 0;
        font-size: var(--size-54);
        line-height: 67.88px;
    }

    .hero__text__3 {
        font-size: var(--size-24);
        line-height: 30.17px;
        width: 600px;
        margin-top: 20px;
    }

    .hero__player-image {
        width: 548.73px;
        height: 401.78px;
    }

    .hero__phone-image {
        width: 455.73px;
        height: 478.05px;
        top: 20.2px;
        left: -300px;
    }
}

@media (min-width: 1470px) {

}