:root {
  --clr-dark-main: #04133E;
  --clr-dark-blue: #041440;
  --clr-light: #ffffff;
  --clr-turquoise: #16D0B8;
  --clr-blue: #2A59D2;
  --clr-shadow: rgba(0, 0, 0, 0.5);

  /* sizes */
  --size-xxs: 0.75rem;
  --size-xs: 0.8rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.3rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.85rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem ;

  --size-10: 10px;
  --size-12: 12px;
  --size-14: 14px;
  --size-15: 15px;
  --size-16: 16px;
  --size-18: 18px;
  --size-20: 20px;
  --size-22: 22px;
  --size-24: 24px;
  --size-32: 32px;
  --size-36: 36px;
  --size-48: 48px;
  --size-54: 54px;
}



*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
  font-family: 'Source Sans Pro', Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-dark-main);
  color: var(--clr-light);
  overflow-x: clip;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  /*display: inline-block;*/
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
  font-weight: 400;
}

a {
  color: var(--clr-light);
  text-decoration: none;
  font-weight: 400;
}

span {
  color: var(--clr-turquoise);
}



