.features {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.features__container {
    display: flex;
    flex-direction: column;
}

/* xs */

@media (min-width: 475px) {}

/* sm */

@media (min-width: 640px) {
    .features__container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

/* md */

@media (min-width: 768px) {

}

/* lg */

@media (min-width: 1024px) {

}

/* xl */

@media (min-width: 1280px) {}

/* 2xl */

@media (min-width: 1536px) {}
